/*applying styles*/
header{
    background-color:bisque;
    height: 60px;
    text-align: center top;
    padding-top: 60px;
    font-size: 40px;
    font-family:'courier New',courier,monospace;
    width:100%;
}
nav{
    width:33.3%;
    background-color: chocolate;
    height: 250px;
    float: left;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    text-decoration: none;
}
nav ul li a {
    text-decoration: none;
    padding:20px;
}

article{
    width: 33.3%;
    height: 250px;
    background-color: bisque;
    float: right;
    text-align: center
}
/* pseudo element selecor*/
section:after{
   display:block;
   content: "";
   clear: both;
}
footer{
    background-color: aquamarine;
    text-align: center ;
    font-size:30px;
    padding: 1px;
}